<!--
	날짜 : 2025/10/01
    이름 : 이수연
    내용 : header_index ver.2
-->
<header th:fragment="_header">
    <div id="header-wrap">
        <div id="header-top">
            <th:block th:if="${#authorization.expression('isAnonymous()')}">
                <a th:href="@{/member/login}">로그인</a>
                <a th:href="@{/member/join}">회원가입</a>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/member/logout}">로그아웃</a>
            </th:block>
            <a th:href="@{#}">마이페이지</a>
            <a th:href="@{#}">장바구니</a>
        </div>
        <div id="header-middle">
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/indexLogo.jpg}" alt="indexLogo" />
            </a>
        </div>
        <div id="header-bottom">
            <form th:action="@{#}" method="get" class="search-form">
                <input type="text" name="keyword" placeholder="검색"/>
                <button type="submit">
                    <img th:src="@{/images/magnifier.png}" alt="돋보기" />
                </button>
            </form>
        </div>

    </div>
</header>