<!--
	날짜 : 2025/09/26
    이름 : 이수연
    내용 : 바디에서의 카테고리 네비 & 폴더 위치 이동
-->
<aside th:fragment="aside_view">
    <div id="view-dropNav" style="display: flex; justify-content: space-between;">
        <div class="dropdown">
            <a href="#">반려식물 ▼</a>
            <div class="dropdown-content">
                <a href="#">초보 식집사</a>
                <a href="#">자취방 필수</a>
                <a href="#">종류별 추천</a>
            </div>
        </div>
        <div class="dropdown">
        <a href="#">공간별 ▼ </a>
        <div class="dropdown-content">
            <a href="#">내 방</a>
            <a href="#">테이블 위</a>
            <a href="#">거시 & 베란다</a>
            <a href="#">욕실 & 습한 곳</a>
        </div>
    </div><div class="dropdown">
        <a href="#">프랜테리어 ▼</a>
        <div class="dropdown-content">
            <a href="#">유리 화병</a>
            <a href="#">테라리움</a>
            <a href="#">행잉 플랜트</a>
            <a href="#">감성 토분</a>
        </div>
    </div><div class="dropdown">
        <a href="#">가드닝용품 ▼</a>
        <div class="dropdown-content">
            <a href="#">도구</a>
            <a href="#">화분</a>
            <a href="#">흙 & 비료</a>
        </div>
    </div><div class="dropdown">
        <a href="#">식물케어 ▼</a>
        <div class="dropdown-content">
            <a href="#">병해충 관리</a>
            <a href="#">분갈이 서비스</a>
            <a href="#">식물 병원</a>
        </div>
    </div>
    </div>
</aside>