<!--
	날짜 : 2025/10/05
    이름 : 이수연
    내용 : header util 차이로 인해 파일하나 더 생성.

    사용방법 : css : common/headerWithSearch.css 사용(class명이 달라서 괜찮음)
-->
<header th:fragment="header_company">
    <div id="header-wrap">
        <div id="header-top">
            <div class="header-util">
                <th:block>
                    <a th:href="@{#}">HOME</a>
                    <a th:href="@{#}">기업문화</a>
                    <a th:href="@{#}">소식과 이야기</a>
                    <a th:href="@{#}">채용</a>
                    <a th:href="@{#}">미디어</a>
                </th:block>
            </div>
        </div>
        <div id="header-middle">
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/LogoWidth.png}" alt="indexLogo" />
            </a>
        </div>
    </div>
</header>