
<!--
	날짜 : 2025/09/15
    이름 : 한탁원
    내용 : header 초안 작성
-->
<header th:fragment="header">
    <div id="header-wrap">
        <div id="header-top">
            <th:block th:if="${#authorization.expression('isAnonymous()')}">
                <a th:href="@{/member/login}">로그인</a>
                <a th:href="@{/member/join}">회원가입</a>
            </th:block>
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/member/logout}">로그아웃</a>
            </th:block>
            <a th:href="@{#}">마이페이지</a>
            <a th:href="@{#}">장바구니</a>
        </div>
        <div id="header-middle">
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/logo.png}" alt="로고1" />
            </a>
            <form th:action="@{#}" method="get" class="search-form">
                <input type="text" name="keyword" placeholder="검색"/>
                <button type="submit">
                    <img th:src="@{/images/magnifier.png}" alt="돋보기" />
                </button>
            </form>
        </div>
        <div id="header-bottom">
            <div class="dropdown">
                <a href="#">반려식물 ▼</a>
                <div class="dropdown-content">
                    <a href="#">초보 식집사</a> <!-- 공기 정화, 강한 생명력, 물 주기 쉬운 식물 -->
                    <a href="#">공간별 추천</a> <!-- 테이블용, 침실용, 거실용, 욕실용, 창가용 -->
                    <a href="#">종류별 추천</a> <!-- 다육식물, 관엽식물, 선인장, 행잉 플랜트, 허브, 이끼 -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#">가드닝 용품 ▼</a>
                <div class="dropdown-content">
                    <a href="#">화분</a>      <!-- 토분, 플라스틱, 세라믹, 유리 화병, 행잉 화분 -->
                    <a href="#">흙 & 비료</a> <!-- 비료: 분갈이 흙, 다육이 전용 흙, 마사토, 식물 영양제, 비료 -->
                    <a href="#">도구</a>      <!-- 분무기, 물 조리개, 삽, 가위 -->
                </div>
            </div>
            <div class="dropdown">
                <a href="#">큐레이션 & 서비스 ▼</a>
                <div class="dropdown-content">
                    <a href="#">플랜테리어</a>       <!-- 추천 세트, 인테리어 스타일별 -->
                    <a href="#">식물 케어</a>       <!-- 병해충 관리, 분갈이 서비스, 식물 상담 -->
                    <a href="#">이벤트 & 할인</a>    <!-- 기획전, 타임 세일, 신상품 -->
                </div>
            </div>
        </div>
    </div>
</header>