<!--
	날짜 : 2025/09/28 & ... & 2025/10/02
    이름 : 이수연
    내용 : header 수정 & index와 로고 차이로 인해 파일하나 더 생성.
-->
<header th:fragment="header">
    <div id="header-wrap">
        <div id="header-top">
            <div class="header-util">
                <th:block th:if="${#authorization.expression('isAnonymous()')}">
                    <a th:href="@{/member/login}">로그인</a>
                    <a th:href="@{/member/join}">회원가입</a>
                </th:block>
                <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                    <a th:href="@{/member/logout}">로그아웃</a>
                </th:block>
                <a th:href="@{#}">마이페이지</a>
                <a th:href="@{#}">장바구니</a>
            </div>
        </div>
        <div id="header-middle">
            <a th:href="@{/}" class="logo">
                <img th:src="@{/images/LogoWidth.png}" alt="indexLogo" />
            </a>
        </div>

    </div>
</header>