<!--
	날짜 : 2025/09/26 & 2025/10/02
    이름 : 이수연
    내용 : 카테고리 네비 & 위치 이동
-->
<aside th:fragment="index_nav" id="aside">
    <link rel="stylesheet" th:href="@{/css/common/index_nav.css}">
    <div id="view-dropNav">
        <div class="dropdown">
            <a th:href="@{/product/list(slug=plants)}">▼ 식물</a>
            <div class="dropdown-content">
                <a th:href="@{/product/list(slug=hydroponic-plants)}">수경 재배 식물</a>
                <a th:href="@{/product/list(slug=succulents)}">다육식물</a>
                <a th:href="@{/product/list(slug=fresh-flowers)}">생화</a>
                <a th:href="@{/product/list(slug=seeds-bulbs)}">씨앗·구근</a>
            </div>
        </div>
        <div class="dropdown">
            <a th:href="@{/product/list(slug=bouquets-flower-boxes)}">▼ 꽃다발.플라워박스</a>
            <div class="dropdown-content">
                <a th:href="@{/product/list(slug=bouquet)}">꽃다발</a>
                <a th:href="@{/product/list(slug=flower-basket)}">꽃바구니</a>
                <a th:href="@{/product/list(slug=flower-box)}">플라워박스</a>
            </div>
        </div>
        <div class="dropdown">
            <a th:href="@{/product/list(slug=gardening-supplies)}">▼ 가드닝 용품</a>
            <div class="dropdown-content">
                <a th:href="@{/product/list(slug=vases-pots)}">화병·화분</a>
                <a th:href="@{/product/list(slug=vases-pots)}">원예도구</a>
                <a th:href="@{/product/list(slug=soil-fertilizer-gravel)}">흙·비료·자갈</a>
                <a th:href="@{/product/list(slug=plant-growth)}">식물생장</a>
            </div>
        </div>
    </div>
</aside>