<!--
	날짜 : 2025/09/26
    이름 : 이수연
    내용 : 바디에서의 카테고리 네비 & 폴더 위치 이동
-->
<aside th:fragment="index_nav" id="aside">
    <div id="view-dropNav">
        <div class="dropdown">
            <a th:href="@{/product/list2(slug=plants)}">식물</a>
            <div class="dropdown-content">
                <a th:href="@{/product/list2(slug=hydroponic-plants)}">수경 재배 식물</a>
                <a href="#">자취방 필수</a>
                <a href="#">종류별 추천</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">공간별 ▼ </a>
            <div class="dropdown-content">
                <a href="#">내 방</a>
                <a href="#">테이블 위</a>
                <a href="#">거시 & 베란다</a>
                <a href="#">욕실 & 습한 곳</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">프랜테리어 ▼</a>
            <div class="dropdown-content">
                <a href="#">유리 화병</a>
                <a href="#">테라리움</a>
                <a href="#">행잉 플랜트</a>
                <a href="#">감성 토분</a>
            </div>
        </div>
    </div>
</aside>