<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product cart</title>
    <!--
        날짜 : 2025/09/26
        이름 : 이수연
        내용 : 장바구니 페이지 구현
    -->
    <link rel="stylesheet" th:href="@{/css/common/header_min.css}">
    <link rel="stylesheet" th:href="@{/css/common/index_nav.css}">
    <link rel="stylesheet" th:href="@{/css/product/cart.css}">
    <link rel="stylesheet" th:href="@{/css/common/footer.css}">
</head>
<body>
<div th:replace="~{/common/header :: header}"></div>
<main>
    <div class="content-wrap">
        <div th:replace="~{common/index_nav}"></div>
        <section id="main-section">
            <div class="top_nav">
                <h5>장바구니</h5>
                <ul class="page_nation">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">장바구니</a></li>
                </ul>
            </div>
            <section>
                <form action="#">
                    <table class="cart_table">
                        <thead>
                            <tr>
                                <th class="col_check"><input type="checkbox" id="checkAll"/></th>
                                <th class="col_item">상품명</th>
                                <th class="col_count">수량</th>
                                <th class="col_price">판매가</th>
                                <th class="col_dis">할인</th>
                                <th class="col_point">포인트</th>
                                <th class="col_fee">배송비</th>
                                <th class="col_sum">총합</th>
                                <th class="col_del">삭제</th>
                            </tr>
                        </thead>
                        <tbody id="cart_items">
                            <tr th:each="cart : ${cartList}">
                                <td class="col-check"><input type="checkbox" class="checkAll"/></td>
                                <td class="col_item_info">
                                    <div class="product_image">
                                        <img src="https://placehold.co/150x150/e0e0e0/000000?text=Product+Image" alt="상품명" onerror="this.src='https://placehold.co/150x150/e0e0e0/000000?text=Product+Image';" >
                                    </div>
                                    <div class="product_info">
                                        <h6>[[${cart.name}]]</h6>
                                        <p>[[${cart.description}]]</p>
                                    </div>
                                </td>
                                <td>[[${cart.quantity}]]개</td>
                                <td>
                                    <p class="price">[[${cart.price}]]원</p>
                                </td>
                                <td>
                                    <div class="price_after">
                                        <p class="original_price">[[${cart.price / (1 - (cart.discountRate / 100.0))}]]원</p>
                                        <p class="discount_rate">[[${cart.discountRate}]]% ↓</p>
                                    </div>
                                </td>
                                <td>[[${cart.point * cart.quantity}]]</td>
                                <td>
                                    <p class="shopping_fee">배송비 [[${cart.deliveryFee}]]원</p>
                                </td>
                                <td>[[${cart.price * cart.quantity + cart.deliveryFee}]]</td>
                                <td class="col_del_info">
                                    <input type="button" value="바로주문">
                                    <input type="button" value="삭제">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <section class="cart-summary">
                        <h3>전체 합계</h3>
                        <table border="1" class="order-summary">
                            <tr>
                                <th>상 품 수</th>
                                <td>1개</td>
                            </tr>
                            <tr>
                                <th>상 품 금 액</th>
                                <td>27,000원</td>
                            </tr>
                            <tr>
                                <th>할 인 금 액</th>
                                <td>3,000원</td>
                            </tr>
                            <tr>
                                <th>배 송 비</th>
                                <td>2,500</td>
                            </tr>
                            <tr>
                                <th>총 금 액</th>
                                <td>29,500원</td>
                            </tr>
                            <tr>
                                <th>적립 포인트</th>
                                <td>0</td>
                            </tr>
                        </table>

                        <div class="cart-action">
                            <button type="button" id="checkout-btn">주문하기</button>

                        </div>
                    </section>
                </form>
                <div class="pagination">
                <!-- 이전 페이지 버튼 -->
                <a href="#" class="prev">&lt; 이전</a>

                <!-- 페이지 번호들 -->
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>

                <!-- 다음 페이지 버튼 -->
                <a href="#" class="next">다음 &gt;</a>
            </div>
            </section>
        </section>
    </div>
</main>
<div th:replace="~{/common/footer :: footer}"></div>
</body>
</html>