<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product list</title>
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/product/list.css}">
    <style>

    </style>
</head>
<body>
<!--<div th:replace="~{/common/header :: header}"></div>-->
    <!-- <jsp:include page="../common/headerWithSearch.jsp" /> -->
    <main>
        <div id="main">
			<div class="content-wrap">
                <aside id="aside">
                    <div id="aside-top">
                        <ul>
                            <li><a th:href="@{#}">패션</a></li>
                            <li><a href=#>가전</a></li>
                            <li><a href=#>식품</a></li>
                            <li><a href=#>홈</a></li>
                        </ul>
                    </div>

                    <div id="aside-bottom">
                        <h3>베스트 상품</h3>
                        <table>
                            <tr>
                                <td colspan="2">
                                    <img id="first" src="/resources/images/sample_thumb.jpg" alt="">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p>상품명</p>
                                    <p>30000원</p>
                                    <p>10%</p>
                                </td>
                            </tr>
                            <tr>
                                <td id="thumb1">
                                    <img id="second" src="/resources/images/sample_thumb.jpg" alt="">
                                </td>
                                <td>
                                    <p>상품명</p>
                                    <p>30000원</p>
                                    <p>10%</p>
                                </td>
                            </tr>
                            <tr>
                                <td id="thumb2">
                                    <img id="third" src="/resources/images/sample_thumb.jpg" alt=""></td>
                                <td>
                                    <p>상품명</p>
                                    <p>30000원</p>
                                    <p>10%</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </aside>
				<!-- <jsp:include page="../common/aside_main.jsp" /> -->
                <section id="main-section"> <!-- 담당화면 구현 : 상품> 목록(no.2-1) -->
                    <div class="top_nav">
                        <h5>상품목록</h5>
                        <ul class="page_nation">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">패션·의류·뷰티</a></li>
                            <li><a href="#">남성의류</a></li>
                        </ul>
                    </div>
                    <div class="sort_nav">
                        <ul>
                            <li><a href="#">판매많은순</a></li>
                            <li><a href="#">낮은가격순</a></li>
                            <li><a href="#">높은가격순</a></li>
                            <li><a href="#">평점높은순</a></li>
                            <li><a href="#">후기많은순</a></li>
                            <li><a href="#">최근등록순</a></li>
                        </ul>
                    </div>
                    <div class="product_list">
                        <div class="product_image">
                            <img src="/resources/images/sample_thumb.jpg" alt="상품명">
                        </div>
                        <div class="product_info">
                            <h6>상품명</h6>
                            <p>간단한 상품 설명</p>
                        </div>
                        <div class="product_price_info">
                            <p class="price">27,000원</p>
                            <div class="price_after">
                                <p class="original_price">30,000원(취소선)</p>
                                <span class="discount_rate">10% ↓</span>
                            </div>
                            <p class="shopping_fee">배송비 2,500원</p>
                            <!-- <img src="#" alt="무료배송"> -->
                        </div>
                        <div class="prodect_meta">
                            <div>🏠판매자</div>
                            <div><img src="/resources/images/ico_great_seller.gif" alt="메달아이콘" style="width: 80px;"></div>
                            <div>상품평<img src="/resources/images/rating_star.png" alt="상품점수별아이콘" style="width: 50px;"></div>
                        </div>
                    </div>
                </section>
			</div>
		</div>
	</main>


<div th:replace="~{/common/footer :: footer}"></div>
</body>
</html>