<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product view</title>
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/product/view.css}">
</head>
<body>
<div th:replace="~{/common/header :: header}"></div>
	<main>
		<div id="main">
			<jsp:include page="../common/headerWithSearch.jsp" />


			<div class="content-wrap">
				<jsp:include page="../common/aside_main.jsp" />
				<section id="main-section">
					

					<jsp:include page="../common/footer.jsp" />
				</section>
			</div>
		</div>
	</main>
<div th:replace="~{/common/footer :: footer}"></div>
</body>
</html>
</body>
</html>