/*
    날짜 : 2025/09/28
    이름 : 이수연
    내용 : 쿠폰목록 - 쿠폰정보 모달 css
*/
#modalCouponInfo.active {
    display: flex;
}

/* 모달 배경과 위치 설정 */
#modalCouponInfo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* <-- 이 속성 flex, none */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* ㅡㅡㅡ 모달 내용 박스 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.modal-content {
    /* 모달 창의 크기 및 중앙 배치 */
    background-color: white;
    width: 100%;
    max-width: 1000px;

    display: flex; /* Flexbox 컨테이너로 만듦 */
    flex-direction: column; /* 자식 요소들을 세로로 쌓음 */

    max-height: 90vh; /* 화면 높이의 90%를 넘지 않도록 설정 -> 스크롤 설정(madal body에서 이어서 속성 진행) */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    position: relative; /*이 요소를 기준으로 자식 요소(닫힘버튼)의 위치를 잡도록 설정 */
}

/* 닫힘 버튼 */
.close-button {
    position: absolute; /* 부모 요소(modal-content)를 기준으로 위치를 잡음 */
    top: 10px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #ccc;
    border: none;
    background: none;
    cursor: pointer;
}

/* ㅡㅡㅡ madal 헤더 부분 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.modal-header {
    width: 96%;
    background-color: #175a48;
    color: white;
    padding: 15px 20px;
    flex-shrink: 0; /* 공간이 부족해도 줄어들지 않도록 함 */
    border-radius: 8px 8px 0 0;
}

.modal-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
}

.order-number {
    color: #999999;
    font-size: 15px;
    margin-left: 20px;
}

/* ㅡㅡㅡ madal body ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.modal-body {
    /* 스크롤 영역: 남은 공간을 채우고 스크롤 가능하게 함 */
    padding: 10px;
    margin: 10px;
    overflow-y: auto; /* 내용이 넘칠 경우에만 스크롤바 생성 */
    flex-grow: 1; /* 남은 세로 공간을 모두 채우도록 함 */
}

.modal-body section {
    border-top: 4px solid #175a48;
}

/* 본문 시작------------------------------------ */
.coupon-detail-table {
    width: 96%;
    margin: 0 15px;
    border-collapse: collapse;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.coupon-detail-table th {
    background-color: #ddd;
    text-align: center;
    padding: 8px;
}
.coupon-detail-table td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

