<!--
    날짜 : 2025/09/25
    이름 : 이수연
    내용 : 푸터 디자인(제안) & 파일 분리
-->
<div th:replace="~{/common/footer :: footer}">
</div>
<script>
    function changeMainImage(thumb) {
        const mainImage = document.getElementById('main-product-image');
        mainImage.src = thumb.src;
        mainImage.alt = thumb.alt;
    }

    function scrollThumbs(direction) {
        const container = document.querySelector('.product-thumbnails');
        const scrollAmount = 100; // 스크롤할 양
        container.scrollBy({
            left: direction * scrollAmount,
            behavior: 'smooth'
        });
    }
</script>