<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>판매자 회원가입</title>
    <link rel="stylesheet" th:href="@{/css/common/headerWithSearch.css}">
    <link rel="stylesheet" th:href="@{/css/member/registerSeller.css}">

</head>

<body>
<div th:replace="~{/common/header_index :: header}"></div>

<main class="registerSeller-wrap">
    <h2 class="registerSeller-title">판매자 회원가입</h2>

    <form th:action="@{/member/registerSeller}" method="post">

        <section class="section">
            <div class="form-grid">
                <label for="memId">아이디</label>
                <input id="memId" type="text" name="memId" placeholder="아이디 입력">
                <span class="muted">영문,숫자 4~12자</span>

                <label for="password">비밀번호</label>
                <input id="password" type="password" name="password" placeholder="비밀번호 입력">
                <span class="muted">영문, 숫자, 특수문자 8~12자</span>

                <label for="password2">비밀번호 확인</label>
                <input id="password2" type="password" name="password2" placeholder="비밀번호 확인">
                <span></span>
            </div>
        </section>

        <section class="section">
            <div class="form-grid">
                <label for="company">회사명</label>
                <input id="company" type="text" name="company" placeholder="회사명입력 예) {주}상호명">
                <span></span>

                <label for="representative">대표</label>
                <input id="representative" type="text" name="representative" placeholder="이름입력">
                <span></span>

                <label for="tin">사업자등록번호</label>
                <input id="tin" type="text" name="tin" placeholder="이메일입력">
                <span class="muted">-포함 12자리 입력</span>

                <label for="business_number">통신판매업번호</label>
                <input id="business_number" type="text" name="business_number" placeholder="휴대폰입력">
                <span></span>

                <label for="tel">전화번호</label>
                <input id="tel" type="text" name="tel" placeholder="전화번호 입력">
                <span></span>

                <label for="fax">팩스</label>
                <input id="fax" type="text" name="fax" placeholder="팩스번호입력">
                <span></span>

                <label for="zip_code">주소</label>
                <input type="text" id="zip_code" name="zipCode" placeholder="우편번호" onclick="postcode()" readonly>
                <button type="button" class="subbtn" onclick="postcode()">우편번호 검색</button>
                <input type="text" id="address_basic" name="addressBasic" placeholder="기본주소" readonly>
                <input type="text" id="address_detail" name="addressDetail" placeholder="상세주소">
            </div>
        </section>

        <div class="actions">
            <button type="submit">회원가입</button>
        </div>
    </form>
</main>




<div th:replace="~{/common/footer :: footer}"></div>
</body>
</html>