<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin shop list</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/aside.css}">
    <link rel="stylesheet" th:href="@{/css/admin/shop/list.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/footer.css}">
</head>
<body>
<div th:replace="~{/admin/common/header :: header}"></div>
<section class="content-wrap">
    <div th:replace="~{/admin/common/aside :: aside}"></div>
    <section id="main-section">
        <div class="top_nav">
            <!-- 페이지 타이틀 -->
            <h5>상점목록</h5>
            <ul class="page_nation">
                <li><a href="#">Home</a></li>
                <li><a href="#">상점관리</a></li>
                <li><a href="#">상점목록</a></li>
            </ul>
        </div>

        <!-- 검색창 + 운영 상태 영역 -->
        <div class="search-area">
            <div class="search-box">
                <select id="searchType">
                    <option value="name">상호명</option>
                    <option value="owner">대표자</option>
                    <option value="biznum">사업자등록번호</option>
                    <option value="phone">연락처</option>
                </select>

                <input type="text" id="keyword" placeholder="검색어 입력">
                <button class="btn">검색</button>
            </div>

            <!-- 운영 상태 설명 -->
            <div class="status-info">
                <span class="dot green"></span> 운영 중&nbsp;&nbsp;
                <span class="dot red"></span> 운영 중지&nbsp;&nbsp;
                <span class="dot blue"></span> 운영 준비
            </div>
        </div>

        <div class="ji-young-main-area">
            <!-- 메인 상단배너 테이블 -->
            <div class="info-title">
                <h2>버전정보</h2>
            </div>
            <table>
                <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>번호</th>
                    <th>상호명</th>
                    <th>대표</th>
                    <th>사업자등록번호</th>
                    <th>통신판매업번호</th>
                    <th>연락처</th>
                    <th>운영</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody>
                <!--- (1)  -->
                <tr>
                    <td><input type="checkbox"></td>
                    <td>5</td>
                    <td>(주)다나와</td>
                    <td>정우성</td>
                    <td>112-12-12345</td>
                    <td>2024-서울강남-04433</td>
                    <td>010-1234-1001</td>
                    <td><span class="dot green"></span></td>
                    <td>[중단]</td>
                </tr>
                <!--- (1) 배너끝 -->

                <!--- (2)  -->
                <tr>
                    <td><input type="checkbox"></td>
                    <td>4</td>
                    <td>(주)멋남</td>
                    <td>이정재</td>
                    <td>112-12-12344</td>
                    <td>2024-서울강남-04438</td>
                    <td>010-1234-1002</td>
                    <td><span class="dot green"></span></td>
                    <td>[중단]</td>
                </tr>
                <!--- (2) 배너끝 -->

                <!--- (3)  -->
                <tr>
                    <td><input type="checkbox"></td>
                    <td>3</td>
                    <td>(주)컴퓨존</td>
                    <td>장동건</td>
                    <td>112-12-12343</td>
                    <td>2024-서울강남-04429</td>
                    <td>010-1234-1003</td>
                    <td><span class="dot green"></span></td>
                    <td>[중단]</td>
                </tr>
                <!--- (3) 배너끝 -->

                <!--- (4)  -->
                <tr>
                    <td><input type="checkbox"></td>
                    <td>2</td>
                    <td>누리푸드</td>
                    <td>조인성</td>
                    <td>112-12-12342</td>
                    <td>2024-부산진구-01139</td>
                    <td>010-1234-1004</td>
                    <td><span class="dot red"></span></td>
                    <td>[재개]</td>
                </tr>
                <!--- (4) 배너끝 -->

                <!--- (5)  -->
                <tr>
                    <td><input type="checkbox"></td>
                    <td>5</td>
                    <td>굿바디스포츠</td>
                    <td>강동원</td>
                    <td>112-12-12341</td>
                    <td>2024-서울강남-04425</td>
                    <td>010-1234-1005</td>
                    <td><span class="dot blue"></span></td>
                    <td>[승인]</td>
                </tr>
                <!--- (5) 배너끝 -->


                </tbody>
            </table>
            <!-- 하단 버튼 -->
            <div class="btn-wrap">
                <button class="btn gray"><a href="#">선택삭제</a></button>
                <button class="btn"><a href="#">상점등록</a> </button>
            </div>
        </div>
    </section>
</section>
<div th:replace="~{/admin/common/footer :: footer}"></div>

</body>
<script th:src="@{/js/admin/aside.js}"></script>
</html>