/*
    날짜 : 2025/09/28
    이름 : 이수연
    내용 : 주문현황 - 주문상세 모달 css
*/
/* ㅡㅡㅡ 주문상품 상세뵈 화면에 해당되는 css 시작 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.cart-table {
    width: 95%;
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    margin: 0 20px;
}

.cart-table th, td {
    padding: 10px;
}

.cart-table td {
    border-top: 2px solid #C7D9D5;
    border-bottom: 1px solid #C7D9D5;
}

/* cart list 영역 ㅡㅡ */
.product-image {
    flex-basis: 80px;
    flex-shrink: 0;
    margin: 10px auto;
}

.product-image img {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 8px;
}

/* 배송정보 테이블 스타일 */
.del-info-table ,
.order-info-table {
    width: 95%;
    margin: 0 15px;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.del-info-table th,
.del-info-table td,
.order-info-table th,
.order-info-table td {
    padding: 8px;
    text-align: left;
}







