@charset "UTF-8";
/*
    날짜 : 2025/09/28
    이름 : 이수연
    내용 : 관리자 사이드 메뉴 css
*/
#aside {
    width: 150px;
    flex-shrink: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #e0e0e0;
}

#aside ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

/* 1차 메뉴 a 태그 */
#aside > ul > li > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px 8px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #175a48;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

/* 1차 메뉴 hover */
#aside > ul > li:hover > span {
    color: #175a48;
}

/* 1차 메뉴 active (클릭한 상태 유지) */
#aside > ul > li.active > span {
    color: white;
    background-color: #175a48;
}

/* 2차 메뉴 기본 숨김 */
#aside > ul .submenu {
    display: none;
}

/* 2차 메뉴 hover 시 보이기 */
#aside > ul > li:hover > ul {
    display: block;
}

/* 2차 메뉴 active 시 보이기 (클릭한 상태 유지) */
#aside > ul > li.active > ul {
    display: block;
}

/* 2차 메뉴 항목 */
#aside > ul > li > ul > li {
    padding: 8px 0;
}

#aside > ul > li > ul > li > a {
    margin: 0 0 0 40px;
    font-size: 13px;
    font-weight: bold;
    color: #676767;
    text-decoration: none;
    transition: color 0.3s;
}

/* 2차 메뉴 hover */
#aside > ul > li > ul > li:hover > a {
    color: #175a48;
}

/* 2차 메뉴 active (클릭한 상태 유지) */
#aside > ul > li > ul > li.active {
    background-color: #C7D9D5;
}

#aside > ul > li > ul > li.active > a {
    color: #175a48;
}
