/*
    날짜 : 2025/09/28
    이름 : 이수연
    내용 : admin header & css
*/
header, body {
    background-color: #f3f6f7;
}

.content-wrap { /* 공통 적용 */
    margin-bottom: 30px;
}

#header-middle {
    margin: 30px auto;
}

#header-top {
    background-color: #C7D9D5;
}

.header-util {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 1200px;
    text-align: right;
}

#header-top .header-util a {
    padding-left: 10px;
    text-decoration: none;
    color: #175a48; /* 컬러 수정 */
}

#header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

/* 로고 */
#header-middle a img {
    width: 250px;
    height: auto;
}
