<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME > 관리자 환경설정 > 카테고리</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/aside.css}">
    <link rel="stylesheet" th:href="@{/css/admin/config/category.css}">
    <link rel="stylesheet" th:href="@{/css/admin/common/footer.css}">
</head>
<!--
    날짜 : 2025/10/04
    이름 : 조지영
    내용 : HOME > 관리자 환경설정 > 카테고리
-->
<body>
<div th:replace="~{/admin/common/header :: header}"></div>
<section class="content-wrap">
    <div th:replace="~{/admin/common/aside :: aside}"></div>
    <main>
        <div id="main">
            <section id="main-section">
                <div class="top_nav">
                    <!-- 페이지 타이틀 -->
                    <h5>카테고리</h5>
                    <ul class="page_nation">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">환경설정</a></li>
                        <li><a href="#">카테고리</a></li>
                    </ul>
                </div>

                <!-- 제목 -->
                <div class="info-title">
                    <h2>카테고리 관리</h2>
                </div>
                <div class="info-box">
                    <strong>쇼핑몰 메인, 상품페이지 사이드 카테고리 메뉴 입니다.</strong>
                </div>

                <!-- 메인 컨테이너 -->
                <div class="container">
                    <!-- 좌측 사이드바 -->
                    <aside class="sidebar">
                        <ul>
                            <!-- (1) 반려식물 -->
                            <li class="menu">
                                <div class="menu-title">
                                    <img th:src="@{/images/arrow_1.png}" alt="화살표" class="arrow">
                                    <a href="#">&nbsp;&nbsp;&nbsp;반려식물</a>
                                    <button class="btn red">
                                        <a href="#"><span>삭제</span></a>
                                    </button>
                                </div>
                                <ul class="submenu">
                                    <li class="disabled submenu-item">
                                        <div class="submenu-item">
                                            <a href="#">초보식집사</a>
                                            <button class="btn red"><a href="#"><span>삭제</span></a></button>
                                        </div>
                                    </li>
                                    <li class="disabled">
                                        <div class="submenu-item">
                                            <a href="#">공간별추천</a>
                                            <button class="btn red"><a href="#"><span>삭제</span></a></button>
                                        </div>
                                    </li>
                                    <li class="disabled">
                                        <div class="submenu-item">
                                            <a href="#">식물종류</a>
                                            <button class="btn red"><a href="#"><span>삭제</span></a></button>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                            <!-- (2) 가드닝 용품 -->
                            <li class="menu">
                                <div class="menu-title">
                                    <img th:src="@{/images/arrow_1.png}" alt="화살표" class="arrow">
                                    <a href="#">&nbsp;&nbsp;&nbsp;가드닝 용품</a>
                                </div>
                                <ul class="submenu">
                                    <li class="disabled"><a href="#">화분</a></li>
                                    <li class="disabled"><a href="#">흙 & 비료</a></li>
                                    <li class="disabled"><a href="#">도구</a></li>
                                </ul>
                            </li>

                            <!-- (3) 큐레이션 & 서비스 -->
                            <li class="menu">
                                <div class="menu-title">
                                    <img th:src="@{/images/arrow_1.png}" alt="화살표" class="arrow">
                                    <a href="#">&nbsp;&nbsp;&nbsp;큐레이션 & 서비스</a>
                                </div>
                                <ul class="submenu">
                                    <li class="disabled"><a href="#">플랜테리어</a></li>
                                    <li class="disabled"><a href="#">식물케어</a></li>
                                    <li class="disabled"><a href="#">이벤트 & 할인</a></li>
                                </ul>
                            </li>

                            <!-- (4) 카테고리 추가 -->
                            <li class="menu">
                                <div class="menu-title">
                                    <img th:src="@{/images/arrow_1.png}" alt="화살표" class="arrow">
                                    <a href="#">&nbsp;&nbsp;&nbsp;1차 카테고리추가</a>
                                </div>
                                <ul class="submenu">
                                    <li class="disabled"><a href="#">플랜테리어</a></li>
                                    <li class="disabled"><a href="#">식물케어</a></li>
                                    <li class="disabled"><a href="#">이벤트 & 할인</a></li>
                                </ul>
                            </li>
                        </ul>
                    </aside>
                </div>

                <p></p>
                <!-- 안내말 -->
                <div class="info-box">
                    <strong>카테고리 메뉴 순서를 변경할 때 드래그 앤 드롭으로 1차, 2차 카테고리 메뉴 이동 후 수정하기를 클릭합니다.</strong>
                </div>

                <!-- 하단 버튼 -->
                <div class="btn-wrap">
                    <button class="btn"><a href="#">수정하기</a></button>
                </div>

            </section>
        </div>
    </main>
</section>
<div th:replace="~{/admin/common/footer :: footer}"></div>
</body>
<script th:src="@{/js/admin/category.js}"></script>
<script th:src="@{/js/admin/aside.js}"></script>
</html>
