<!--
	날짜 : 2025/09/28
    이름 : 이수연
    내용 : 관리자 사이드 메뉴
-->
<aside id="aside" th:fragment="aside">
    <link rel="stylesheet" th:href="@{/css/admin/common/aside.css}">
    <ul>
        <li>
            <span>환경설정</span>
            <ul class="submenu">
                <li><a th:href="@{/admin/config/basic}">기본설정</a></li>
                <li><a th:href="@{/admin/config/banner}">배너관리</a></li>
                <li><a th:href="@{/admin/config/policy}">약관관리</a></li>
                <li><a th:href="@{/admin/config/category}">카테고리</a></li>
                <li><a th:href="@{/admin/config/version}">버전관리</a></li>
            </ul>
        </li>
        <li>
            <span>상점관리</span>
            <ul class="submenu">
                <li><a th:href="@{/admin/shop/list}">상점목록</a></li>
                <li><a th:href="@{/admin/shop/sales}">매출현황</a></li>
            </ul>
        </li>
        <li>
            <span>회원관리</span>
            <ul class="submenu">
                <li><a th:href="@{/admin/member/list}">회원목록</a></li>
                <li><a th:href="@{/admin/member/point}">포인트관리</a></li>
            </ul>
        </li>
        <li>
            <span>상품관리</span>
            <ul class="submenu">
                <li><a th:href="@{/admin/product/list}">상품목록</a></li>
                <li><a th:href="@{/admin/product/register}">상품등록</a></li>
            </ul>
        </li>
        <li>
            <span>주문관리</span>
            <ul class="submenu">
                <li><a th:href="@{/admin/order/list}">주문현황</a></li>
                <li><a th:href="@{/admin/order/delivery}">배송현황</a></li>
            </ul>
        </li>
        <li>
            <span>쿠폰관리</span>
            <ul class="submenu">
                <li><a th:href="@{/admin/coupon/list}">쿠폰목록</a></li>
                <li><a th:href="@{/admin/coupon/issued}">쿠폰발급현황</a></li>
            </ul>
        </li>
        <li>
            <span>고객센터</span>
            <ul class="submenu">
                <li><a th:href="@{/admin/cs/notice/list}">공지사항</a></li>
                <li><a th:href="@{/admin/cs/faq/list}">자주 묻는 질문</a></li>
                <li><a th:href="@{/admin/cs/qna/list}">문의하기</a></li>
                <li><a th:href="@{/admin/cs/recruit/list}">채용하기</a></li>
            </ul>
        </li>
    </ul>
</aside>

