<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원목록</title>
    <link rel="stylesheet" type="text/css" href="css/list.css">
</head>
<!--
    날짜 : 2025/09/30
    이름 : 조지영
    내용 : 관리자 상점 목록 작성
-->
<body>

<!-- 페이지 타이틀 -->
  <div class="page-title">
    <h2>회원목록</h2>
    <div class="breadcrumb">HOME &gt; 회원관리 &gt; <strong>회원목록</strong></div>
  </div>


<!-- 검색창 + 운영 상태 영역 -->
<div class="search-area">
  <div class="search-box">
    <select id="searchType">
      <option value="userid">아이디</option>
      <option value="name">이름</option>
      <option value="email">이메일</option>
      <option value="phone">휴대폰</option>
    </select>

    <input type="text" id="keyword" placeholder="검색어 입력">
    <button class="btn">검색</button>
  </div>
 
 
</div>
 

  <!-- 메인 상단배너 테이블 -->
  <div class="info-title">
    <h2>회원목록</h2>
    </div>
  <table>
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th>번호</th>
        <th>아이디</th>
        <th>이름</th>
        <th>성별</th>
        <th>등급</th>
        <th>포인트</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>가입일</th>
        <th>상태</th>
        <th>관리</th>
      </tr>
    </thead>
    <tbody>
      <!--- (1)  -->
      <tr>
        <td><input type="checkbox"></td>
        <td>5</td>
        <td>xxx</td>
        <td>정우성</td>
        <td>M</td>
        <td>
      <select id="searchType">
      <option value="vvip">vvip</option>
      <option value="vip">vip</option>
      <option value="gold">gold</option>
      <option value="silver">silver</option>
      <option value="family">family</option>
      </select></td>
        <td>15,000</td>
        <td>xxxx@naver.com</td>
        <td>010-0000-0000</td>
        <td>0000-00-00 00:00:00</td>
        <td><span class="green">정상</span></td>
        <td>[수정] <br> [중지]</td>
      </tr>
      <!--- (1) 배너끝 -->

      <!--- (2)  -->
      <tr>
        <td><input type="checkbox"></td>
        <td>5</td>
        <td>xxx</td>
        <td>정우성</td>
        <td>M</td>
        <td>
      <select id="searchType">
      <option value="vvip">vvip</option>
      <option value="vip">vip</option>
      <option value="gold">gold</option>
      <option value="silver">silver</option>
      <option value="family">family</option>
      </select></td>
        <td>15,000</td>
        <td>xxxx@naver.com</td>
        <td>010-0000-0000</td>
        <td>0000-00-00 00:00:00</td>
        <td><span class="green">정상</span></td>
        <td>[수정] <br> [중지]</td>
      </tr>
      <!--- (2) 배너끝 -->

      <!--- (3)  -->
      <tr>
        <td><input type="checkbox"></td>
        <td>5</td>
        <td>xxx</td>
        <td>정우성</td>
        <td>M</td>
        <td>
      <select id="searchType">
      <option value="vvip">vvip</option>
      <option value="vip">vip</option>
      <option value="gold">gold</option>
      <option value="silver">silver</option>
      <option value="family">family</option>
      </select></td>
        <td>15,000</td>
        <td>xxxx@naver.com</td>
        <td>010-0000-0000</td>
        <td>0000-00-00 00:00:00</td>
        <td><span class="red">중지</span></td>
        <td>[수정] <br> [중지]</td>
      </tr>
      <!--- (3) 배너끝 -->

      <!--- (4)  -->
      <tr>
        <td><input type="checkbox"></td>
        <td>5</td>
        <td>xxx</td>
        <td>정우성</td>
        <td>M</td>
        <td>
      <select id="searchType">
      <option value="vvip">vvip</option>
      <option value="vip">vip</option>
      <option value="gold">gold</option>
      <option value="silver">silver</option>
      <option value="family">family</option>
      </select></td>
        <td>15,000</td>
        <td>xxxx@naver.com</td>
        <td>010-0000-0000</td>
        <td>0000-00-00 00:00:00</td>
        <td><span class="gray">휴면</span></td>
        <td>[수정] <br> [중지]</td>
      </tr>
      <!--- (4) 배너끝 -->
  
      <!--- (5)  -->
      <tr>
        <td><input type="checkbox"></td>
        <td>5</td>
        <td>xxx</td>
        <td>정우성</td>
        <td>M</td>
        <td>
      <select id="searchType">
      <option value="vvip">vvip</option>
      <option value="vip">vip</option>
      <option value="gold">gold</option>
      <option value="silver">silver</option>
      <option value="family">family</option>
      </select></td>
        <td>15,000</td>
        <td>xxxx@naver.com</td>
        <td>010-0000-0000</td>
        <td>0000-00-00 00:00:00</td>
        <td><span class="gray">탈퇴</span></td>
        <td>[수정] <br> [중지]</td>
      </tr>
      <!--- (5) 배너끝 -->


    </tbody>
  </table>

  <!-- 하단 버튼 -->
  <div class="btn-wrap">
    <button class="btn gray"><a href="#">선택수정</a></button>
  </div>
   <!-- 페이지 -->
  <div class="page">이전 <a href="#">1</a> 2 3 4 5 다음 </div> 
</body>
</html>
