/* aside 기본 스타일 */
#aside {
    width: 250px; /* 고정 너비 */
    flex-shrink: 0;
    padding: 0;
}

.categories {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid #66968c;
}

/* 드롭다운 전체 감싸는 요소 */
#view-dropNav {
    padding-bottom: 20px;
}

/* 개별 드롭다운 요소 */
.dropdown {
    padding-bottom: 20px;
    min-height: 160px;
}

/* 드롭다운 제목 a 태그 스타일 */
.dropdown > a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none; /* 밑줄 제거 */

    padding: 0 0 10px 10px;
    border-bottom: 3px solid #66968c;
    color: #175a48;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 10px;
}

/* 드롭다운 내용의 링크 스타일 */
.dropdown-content a {
    font-size: 14px;
    font-weight: bold;
    color: #353535;
    text-decoration: none;
    padding: 5px 0;
    display: block; /* 블록 요소로 만들어 클릭 영역 확보 */
    font-weight: normal; /* 2차 카테고리 굵기 보통 */
    transition: background-color 0.2s;
}

.dropdown-content a:hover {
    color: #175a48;

}



/* 베스트 상품 스타일 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
#aside-bottom {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 3px solid #66968c;
    /* aside의 너비에 맞게 조정 */
    box-sizing: border-box;
    width: 100%;
}

#aside-bottom * {
    box-sizing: border-box;
}

#aside-bottom table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#aside-bottom td {
    padding: 10px;
    vertical-align: top;
}

/* 베스트 상품 목록 p 태그의 마진을 제거하여 간격을 조절합니다. */
#aside-bottom p {
    margin: 0;
}

#aside-bottom table #first {
    width: 100%;
    height: auto;
}

#aside-bottom table img {
    display: block;
    width: 100%;
    height: auto;
}

#aside-bottom table #second,
#aside-bottom table #third {
    width: 80px;
    height: 80px;
}