@charset "UTF-8";

/*
 * 날짜 : 2025/09/15
 * 이름 : 한탁원
 * 내용 : header - css 초안 작성  
 */
header {
    background-color: #f3f6f7;
}

#header-wrap {
  margin: 0 auto;
  max-width: 1200px;
}

#header-top {
	text-align: right;
}

#header-bottom {
	display: block;
}