@charset "UTF-8";
/*
 * 날짜 : 2025/09/15
 * 이름 : 한탁원
 * 내용 : header - css 초안 작성  
 */
/*
 * 날짜 : 2025/09/25
 * 이름 : 이수연
 * 내용 : header - css 수정
 */
header, body {
    background-color: #f3f6f7;
}

#header-wrap {
  margin: 0 auto;
  max-width: 1200px;
}
#header-top, #header-middle {
    padding-bottom: 40px;
}



#header-top {
    text-align: right;
}

#header-top a {
    padding-left: 10px;
    text-decoration: none;
    color: #175a48; /* 컬러 수정 */
}

#header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
#header-middle a img {
    width: 400px;
    height: auto;
}

.search-form {
    position: relative;
    flex-grow: 1;
    max-width: 400px;
}

.search-form input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.search-form button {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-45%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-form button img {
    width: 30px;
    height: 30px;
}

/* header_bottom에 박스 모양과 균등한 간격을 적용 */
#header-bottom {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 10px 0;
}
#header-bottom a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    background-color: #f8f9fa;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}