<!--
    날짜 : 2025/09/28 & 2025/10/07
    이름 : 이수연
    내용 : 주문현황 - 배송입력 모달 & html,css 완료
-->
<div id="modalDeliveryInput" th:fragment="modal-delivery-input">
    <link rel="stylesheet" th:href="@{/css/admin/order/_deliveryInput.css}">
    <div class="modal-content">
        <button class="close-button" onclick="closeModal('modalDeliveryInput')">&times;</button>
        <div class="modal-header">
            <div class="modal-title">
                <h2>배송입력</h2>
                <p class="order-number">'주문번호'</p>
            </div>
        </div>
        <div class="modal-body">
            <form th:action="@{/admin/order/deliveryRegister}" method="post">
            <table class="modal-delivery-info">
                <tr>
                    <th>주문번호</th>
                    <td><input type="text" name="orderNo" readonly></td>
                </tr>
                <tr>
                    <th>수령인</th>
                    <td><input type="text" name="recName" value="김유신" readonly></td>
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td><input type="text" name="recZipCode" value="12345" readonly></td>
                </tr>
                <tr>
                    <th>기본주소</th>
                    <td><input type="text" name="recAddressBasic" value="부산광역시 부산진구 부전동 123" readonly></td>
                </tr>
                <tr>
                    <th>상세주소</th>
                    <td><input type="text" name="recAddressDetail" value="범향빌딩 4층 415호" readonly></td>
                </tr>
                <tr>
                    <th>택배사</th>
                    <td>
                        <select name="company">
                            <option value="">택배사선택</option>
                            <option value="롯데택배">롯데택배</option>
                            <option value="한진택배">한진택배</option>
                            <option value="CJ대한택배">CJ대한택배</option>
                            <option value="우체국">우체국</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>운송장번호</th>
                    <td>
                        <input type="text" name="invoiceNo" placeholder="발급 받은 택배사 송장번호 입력">
                    </td>
                </tr>
                <tr>
                    <th>기타</th>
                    <td><textarea class="ex-textbox" name="note" maxlength="200" placeholder="기타정보입력"></textarea>
                </tr>
            </table>
            <!-- 등록하기 버튼 -->
            <div class="cart-action">
                <button type="submit" id="checkout-btn">등록하기</button>
            </div>
            </form>
        </div>
    </div>
</div>