<!--
    날짜 : 2025/09/28
    이름 : 이수연
    내용 : 배송현황 - 배송상세 모달
-->
<div id="modalDeliveryDetail" th:fragment="modal-delivery-detail">
    <link rel="stylesheet" th:href="@{/css/admin/order/_deliveryDetail.css}">
    <div class="modal-content">
        <button class="close-button" onclick="closeModal('modalDeliveryDetail')">&times;</button>
        <div class="modal-header">
            <div class="modal-title">
                <h3>결제입력</h3>
                <p class="order-number">'주문번호'</p>
            </div>
        </div>
        <div class="modal-body">
            <h2>상품정보</h2>
            <section class="order-list-section">
                <table class="cart-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>상품번호</th>
                        <th>상품명</th>
                        <th>판매자</th>
                        <th>가격</th>
                        <th>할인</th>
                        <th>수량</th>
                        <th>배송비</th>
                        <th>결제금액</th>
                    </tr>
                    </thead>
                    <tbody id="cart-items">
                    <!-- 상품 정보가 여기에 동적으로 채워짐 -->
                    </tbody>
                </table>
            </section>
            <h2>배송정보</h2>
            <section>
                <table class="order-info-table">
                    <tr>
                        <th>주문번호</th>
                        <td id="order-no"></td>
                    </tr>
                    <tr>
                        <th>수령인</th>
                        <td id="recipient"></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td id="contact"></td>
                    </tr>
                    <tr>
                        <th>배송지 주소</th>
                        <td id="address"></td>
                    </tr>
                    <tr></tr>
                    <tr>
                        <th>택배사</th>
                        <td id="delivery-company"></td>
                    </tr>
                    <tr>
                        <th>송장번호</th>
                        <td id="invoice-no"></td>
                    </tr>
                    <tr>
                        <th>기타</th>
                        <td id="note"></td>
                    </tr>
                </table>
            </section>
        </div>
    </div>
</div>