@charset "UTF-8";

/*
 * 날짜 : 2025/09/15
 * 이름 : 한탁원
 * 내용 : 마이페이지 전체주문내역 - css 초안 작성  
 */
 
/* 전체 설정*/
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}

#main {
	margin: 0 auto;
	max-width: 1200px;
}

/* =============== */
/* 나의 쇼핑 정보 */
/* =============== */
#info-section {
	height: 86px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f8f9fa;
	border: solid 1px;
	padding-left: 80px;
	padding-right: 20px;
}

#info-wrap {
	display: flex;
	flex-direction: column;
}

#info-wrap table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

#info-wrap td {
	padding: 5px 25px;
	border: none;
}

#info-wrap td:not(:last-child) {
	border-right: 1px solid #ddd;
}

/* =============== */
/* 메인 시작 */
/* =============== */
#content-wrap {	
	display: flex;
}

#main-section {
	width: 100%;
	border: solid 1px;
	padding: 10px;
}

/* 배너 크기 */
#main-section img {
	width: 810px;
	height: 86px;
}

/* =============== */
/* 주문내역 */
/* =============== */

/* 최근주문내역 + 더보기 >*/
.main-title {
	display: flex;
	justify-content: space-between;
}

/* 테이블 설정 */
#content-wrap table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	border: solid 1px;
}

#content-wrap table td, #content-wrap table tr {
	border: solid 1px;
	padding: 10px;
}

#table-info {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	gap: 20px;
}

#table-info img {
	width: 110px;
	height: 110px;
	border: solid 1px;
}

#table-info-detail {
	text-align: left;
}

#table-info-detail p {
	line-height: 1.5; /* 줄 높이 */
}

#table-info-detail .underline {
	text-decoration: underline;
}

#table-info-detail #price {
	font-size: 20px;
	font-weight: bold;
}