<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>admin Cs Notice View</title>
    <link rel="stylesheet" th:href="@{/css/admin/common/header.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/cs/admincsmain.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/common/footer.css}" />
</head>
<body>
<div th:replace="~{admin/common/header :: header}"></div>
<main>
    <section class="content-wrap">
        <div th:replace="~{/admin/cs/aside :: aside}"></div>

        <section id="main-section">
            <div class="top_nav">
                <h5>공지사항 보기</h5>
                <ul class="page_nation">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="#">공지사항</a></li>
                </ul>
            </div>

            <div class="admincs-view-container">

                <div class="admincs-view-row admincs-view-type">
                    <span class="admincs-view-label-text">유형</span>
                    <span class="admincs-view-content" th:text="${noticeDTO.type}">고객서비스</span>
                </div>

                <div class="admincs-view-row admincs-view-title">
                    <span class="admincs-view-label-text">제목</span>
                    <span class="admincs-view-content" th:text="${noticeDTO.title}">[ 안내 ] 해외 결제 사칭 문자 주의</span>
                </div>

                <div class="admincs-view-content-area">
                    <span class="admincs-view-label-text">내용</span>
                    <div class="admincs-view-content-text">
                        <p th:utext="${noticeDTO.content}">을 클릭하지 않도록 주의하여 주시기 바랍니다.</p>
                    </div>
                </div>

                <div class="admincs-view-actions">

                    <form th:action="@{/admin/cs/notice/delete}" method="post">
                        <input type="hidden" name="noticeId" th:value="${noticeDTO.noticeId}" />
                        <button type="submit" class="btn-delete">삭제</button>
                    </form>

                        <button type="button"
                                th:onclick="|location.href='@{/admin/cs/notice/modify(noticeId=${noticeDTO.noticeId})}'|"
                                class="btn-modify">
                            수정
                        </button>

                        <button type="button"
                                th:onclick="|location.href='@{/admin/cs/notice/list}'|"
                                class="btn-list">
                            목록
                        </button>
                </div>

            </div>
        </section>
    </section>
</main>
<div th:replace="~{/admin/common/footer :: footer}"></div>
</body>
</html>
