<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" th:href="@{/css/common/header_min.css}">
    <link rel="stylesheet" th:href="@{/css/find/password.css}">
    <!--
        날짜 : 2025/09/30
        이름 : 이종봉
        내용 : 경로 수정.
    -->


</head>

<body>
<div th:replace="~{/common/header :: header}"></div>

<main class="find-wrap is-email">
    <h2 class="find-title">비밀번호 찾기</h2>

    <section class="section">
        <div class="fid-tabs">
            <button type="button" class="find-tab active">이메일 인증</button>
            <button type="button" class="find-tab">휴대폰 인증</button>
        </div>

        <form th:action="@{/find/password}" method="post" class="email-fields">
            <div class="form-grid">
                <div class="row-divider"></div>

                <label for="fi-id">아이디</label>
                <input id="fi-id" type="text" name="fi-id" placeholder="아이디 입력">
                <span></span>

                <div class="row-divider"></div>

                <label for="fi-email">이메일</label>
                <input id="fi-email" type="text" name="eamil" placeholder="이메일 입력">
                <button type="button" class="subbtn">인증번호 받기</button>

                <span></span>
                <input id="fi-code" type="text" name="code" placeholder="인증번호 입력">
                <button type="button" class="subbtn">확인</button>
            </div>
        </form>

        <!-- 휴대폰 인증-->
        <form class="phone-fields">
            <div class="form-grid">
                <div class="row-divider"></div>

                <label for="fp-name">이름</label>
                <input id="fp-phone" type="text" placeholder="휴대폰 번호 입력">
                <button type="button" class="subbtn">인증번호 받기</button>

                <span></span>
                <input id="fp-code" type="text" placeholder="인증번호 입력">
                <button type="button" class="subbtn">확인</button>
            </div>
        </form>
    </section>

    <p class="help">
        비밀번호를 찾고자 하는 아이디와 이메일을 입력해 주세요.<br>
        회원가입시 입력한 아이디와 이메일 주소가 같아야 인증번호를 받을 수 있습니다.<br>
        인증번호를 입력한 뒤 <strong>확인</strong> 버튼을 누르세요.
    </p>

    <div class="actions right">
        <a th:href="@{/member/login}">
            <button type="button" class="btn btn-ghost">취소</button>
        </a>
        <a th:href="@{/find/changePassword}">
            <button type="button" class="btn btn-primary">다음</button>
        </a>
    </div>
</main>






<div th:replace="~{/common/footer :: footer}"></div>
</body>
</html>