<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 결과</title>
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/find/resultId.css}">

    <!--
       날짜 : 2025/09/30
       이름 : 이종봉
       내용 : 경로 수정.
   -->
</head>

<body>
<div th:replace="~{/common/header :: header}"></div>

<main class="find-wrap">
    <h2 class="find-title">아이디 찾기 결과</h2>

    <section class="section">
        <div class="kv-grid">
            <div class="label">이름</div>
            <div class="value" text="name">홍길동</div>

            <div class="row-divider"></div>

            <div class="label">아이디</div>
            <div class="value" text="userId">honggildong</div>

            <div class="row-divider"></div>

            <div class="label">이메일</div>
            <div class="value" text="email">honggildong@gmail.com</div>

            <div class="row-divider"></div>

            <div class="label">가입일</div>
            <div class="value" text="regdate">2022-11-16 10:20:22</div>
        </div>
    </section>

    <p class="helper">고객님의 정보와 일치하는 아이디입니다.</p>

    <div class="actions right">
        <a th:href="@{/member/login}">
            <button type="button" class="btn btn-ghost">로그인</button>
        </a>
        <a th:href="@{/find/password}">
            <button type="button" class="btn btn-primary">비밀번호 찾기</button>
        </a>

    </div>
</main>




<div th:replace="~{/common/footer :: footer}"></div>
</body>
</html>