<!--
    날짜 : 2025/09/28
    이름 : 이수연
    내용 : 쿠폰목록 - 쿠폰정보 모달 css
-->
<div class="modal-detail" th:fragment="modal-coupon-info">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">
                <h3>쿠폰번호</h3>
                <p class="order-number">'쿠폰번호'</p>
            </div>
            <div class="close-btn-wrap">
                <button class="close-btn">x</button>
            </div>
        </div>
        <div class="modal-body">
            <table class="coupon-table">
                <tr>
                    <th>쿠폰번호</th>
                    <td><a href="#">10121211341</a></td>
                    <th>발급처</th>
                    <td>(주)다있어</td>
                </tr>
                <tr>
                    <th>쿠폰종류</th>
                    <td>개별상품 할인</td>
                </tr>
                <tr>
                    <th>쿠폰명</th>
                    <td>10월 한달 감사 쿠폰 이벤트</td>
                </tr>
                <tr>
                    <th>혜택</th>
                    <td>2,000원 할인</td>
                </tr>
                <tr>
                    <th>사용기간</th>
                    <td>2025-10-24 ~ 2025-10-24</td>
                </tr>
                <tr>
                    <th>유의사항</th>
                    <td>
                        상품 중복 할인 쿠폰 <br>
                        - 상품 1개에 대해 사용 가능 <br>
                        - 판매자 즉시할인/상품할인 쿠폰과 중복 사용 가능 <br>
                        <br>
                        사용처 <br>
                        -(주)다있어
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>