<!--
    날짜 : 2025/09/28
    이름 : 이수연
    내용 : 쿠폰목록 - 쿠폰등록 모달
-->
<div id="modalCouponInsert" th:fragment="modal-CouponInsert">
    <link rel="stylesheet" th:href="@{/css/admin/coupon/_listCouponInsert.css}">
    <div class="modal-content">
        <button class="close-button" onclick="closeModal('modalCouponInsert')">×</button>
        <div class="modal-header">
            <div class="modal-title">
                <h3>쿠폰등록</h3>
            </div>
        </div>
        <form th:action="@{/admin/coupon/couponRegister}" method="post" id="couponForm" class="modal-body">
            <table class="coupon-insert-table">
                <tr>
                    <th>발급처</th>
                    <td><label><input type="text" id="issuer" name="issuer" value="(주)Green Garden"></label></td>
                </tr>
                <tr>
                    <th>쿠폰종류</th>
                    <td><label>
                        <select class="coupon-cat" id="type" name="type"> <!-- (명세서)쿠폰 종류는 3종류로 제한 -->
                            <option value="1">개별상품할인</option>
                            <option value="2">주문상품할인</option>
                            <option value="3">배송비 무료</option>
                        </select></label>
                    </td>
                </tr>
                <tr>
                    <th>쿠폰명</th>
                    <td><label><input type="text" id="name" name="name" class="coupon-name-box"></label></td>
                </tr>
                <tr>
                    <th>혜택</th>
                    <td class="radio-group">
                        <label><input type="radio" name="discountValue" value="1000" data-type="AMOUNT"/>1,000원 할인</label>
                        <label><input type="radio" name="discountValue" value="2000" data-type="AMOUNT"/>2,000원 할인</label>
                        <label><input type="radio" name="discountValue" value="2000" data-type="AMOUNT"/>3,000원 할인</label>
                        <label><input type="radio" name="discountValue" value="2000" data-type="AMOUNT"/>4,000원 할인</label>
                        <label><input type="radio" name="discountValue" value="2000" data-type="AMOUNT"/>5,000원 할인</label>

                        <label><input type="radio" name="discountValue" value="10" data-type="PERCENT"/>10% 할인</label>
                        <label><input type="radio" name="discountValue" value="20" data-type="PERCENT"/>20% 할인</label>
                        <label><input type="radio" name="discountValue" value="30" data-type="PERCENT"/>30% 할인</label>
                        <label><input type="radio" name="discountValue" value="40" data-type="PERCENT"/>40% 할인</label>
                        <label><input type="radio" name="discountValue" value="50" data-type="PERCENT"/>50% 할인</label>

                        <label><input type="radio" name="discountValue" value="0" data-type="SHIPPING"/>배송비 무료</label>

                        <input type="hidden" id="benefitName" name="benefit" />
                        <input type="hidden" id="discountType" name="discountType" />
                    </td>
                </tr>
                <tr>
                    <th>사용기간</th>
                    <td>
                        <input type="datetime-local" id="startDate" name="startDate" /> ~ <input type="datetime-local" id="endDate" name="endDate" />
                        <!-- <br> <p>또는 발급일로부터 <input type="number"> 이내</p> -->
                    </td>
                </tr>
                <tr>
                    <th>유의사항</th>
                    <td> <textarea id="note" name="note" class="ex-textbox" maxlength="200"></textarea> </td>
                </tr>
            </table>
            <div class="btn-content">
                <button class="btn btn-cancel" type="button" onclick="closeModal('modalCouponInsert')">취소</button>
                <button class="btn btn-register" type="submit">등록</button>
            </div>
        </form>
    </div>
</div>

